@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* reset */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
section,
article,
figure {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 1em;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
    list-style-type: none;
}



a {
    text-decoration: none;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Natural flow and rhythm in articles by default */
/*article > * + * {
    margin-top: 1em;
  }*/

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/***********************/

/* utility classes*/

* {
    font-family: 'Montserrat', sans-serif;
}

body{
    font-size: 16px;
}

.boton-primario-blanco, .boton-primario-negro{
    color:#ffffff;
    background-color: #f75506;
    border: #f75506 1px solid;
    padding: 0.813em 1em;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1.25;
    font-size: 0.813em;
}


.boton-primario-negro:hover{
    color:#ffffff;
    background-color: #000000;
    border: #000000 1px solid;
  
}

.boton-primario-blanco:hover{
    color:#f75506;
    background-color: #ffffff;
    border: #ffffff 1px solid;
}

.texto-blanco{
    color:#ffffff;
}

.font1875{
    font-size: 1.875em;
    font-weight: bolder;
    text-transform: uppercase;
}

.fondo-naranja{
    background-color: #ff6a21;
}

.subtitulo-gris{
    font-size: 1em;
    line-height: 1.4;
}

.font-075{
    font-size: 0.75em;
}

.p-gris-0875{
    font-size: 0.875em;
    padding: 15px 5px;
    color: #79787f;
}

.p-gris-075{
    font-size: 0.75em;
    padding: 15px 5px;
    color: #79787f;
}

.texto-naranja{
    color:#ff6a21;
}

#precios span, #each-new span, #rec-post span{
    color:#ff6a21;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #1E1D24;
    padding: 1.063em 0;
    
}


header h1 {
    width: 15%;
    display:flex;
}

.header{
    width:70%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.header nav {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: right;
    justify-content: flex-end;
    
}

.header span{
    font-size: 0.75em;
    margin-left: 0.375em;
    padding-top:0.5em;
    font-weight: 600;

}

h1 span{
    display:inline;
    color:white;
}

nav li {
    display:inline;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.75em;
    margin:0.5em ;
    
}

.hover-naranja:hover{
    color:#f75506;
}

#barba{
    display: flex;
    background-image:url("https://livedemo00.template-help.com/wt_prod-25861/images/bg-image-1.jpg");
    background-size: cover;
    background-position: center;
    height:90vh;
    align-items: center;
    justify-content: flex-end;
}

.logo{
    display: flex;
    align-items: center;
}

.logo a{
    width:30%;
    margin-right: 0.375em;
}

#titulo{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 2em;
    width: 70%;
    margin-right: 2em;
    justify-content: right;
    align-items: center;
    margin-bottom: 4em;
}


#titulo h1{
    font-size: 3em;
    color:#ffffff;
    font-weight: 600;
    text-align: center;
    line-height: 1em;
    margin: 0.375em;
}

#titulo p{
    width: 80%;
    font-size: 0.9em;
    font-weight: 300;
    text-align: center;
    justify-content: center;
}

#titulo a{
    margin-top: 3em;
    padding: 1em 3em;
    font-size: 0.60em;
    justify-content:center;
    text-align: center;
}

#services{
    display: flex;
    background-image:url("https://livedemo00.template-help.com/wt_prod-25861/images/bg-image-3.jpg");
    background-size: cover;
    background-position: center;
    height:40vh;
}

#title{
    background-color:rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.breadcrumb{
    display: flex;
}


#title h2{
    font-size: 3.75em;
    color:#ffffff;
    font-weight: 600;
    width: 100%;
    text-align: center;

}

#title ul{
    justify-content: center;
    width: 100%;
    color: white;
}

footer{
    background-color: #121212; 
    display: flex;
    justify-content: center;
    
}

#footer{
    display: flex;
    width: 70%;
    padding-top: 50px;
    justify-content: space-between;
}

footer section{
    width: 23%;
}

.speakerF{
    width: 50%;
    margin: 0;
}

.section-galeria{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.section-galeria div{
   width:67%;
}

.texto-gris-footer{
    text-align: left;
    padding: 10px 0px;
}

#galeria-fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#galeria-fotos a{
    width: 32.5%;
    margin-bottom: 5px;
}

.imagen01{
    width: 30%;
}

.footer-services h4{
    margin-bottom: 10px;
}

.footer-services p{
    margin-bottom: 5px;
}

.section-about{
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

.div-about{
    width: 70%;
    margin: 15px;
    justify-content: center;
    
}

.div-about img{
    width: 90%;
    margin: 15px;
}

.div-about h2{
    width: 100%;
}

#about-us{
    display: flex;
    width: 100%;
    justify-content: center;
}

#about-img p{
    display: flex;
}
#botones{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

#botones article{
    width: 45%;
    flex-direction: column;
    border: 1px solid #efefef;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 0;
    
}

#botones article a{
    display: flex;
    flex-direction: column;
}

#botones article p{
    display: flex;
    flex-direction: column;
}