@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* reset */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
section,
article,
figure {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 1em;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
    list-style-type: none;
}



a {
    text-decoration: none;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Natural flow and rhythm in articles by default */
/*article > * + * {
    margin-top: 1em;
  }*/

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/***********************/

/* utility classes*/

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 14px;
}

.boton-primario-blanco,
.boton-primario-negro {
    color: #ffffff;
    background-color: #f75506;
    border: #f75506 1px solid;
    padding: 0.813em 1em;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1.25;
    font-size: 0.813em;
}

a:hover{
    cursor: pointer;
}

.boton-primario-negro:hover {
    color: #ffffff;
    background-color: #000000;
    border: #000000 1px solid;
    cursor: pointer;

}

.boton-primario-blanco:hover {
    color: #f75506;
    background-color: #ffffff;
    border: #ffffff 1px solid;
    cursor: pointer;
}

.texto-blanco {
    color: #ffffff;
}

.bold {
    font-weight: 900;
}

.font1875 {
    font-size: 1.875em;
    font-weight: bolder;
    text-transform: uppercase;
}

.fondo-naranja {
    background-color: #ff6a21;
}

.subtitulo-gris {
    font-size: 1em;
    line-height: 1.4;
}

.font-075 {
    font-size: 0.75em;
}

.font-0875 {
    font-size: 0.875em;
}

.font-09 {
    font-size: 0.9em;
    font-weight: 500;
}

.p-gris-0875 {
    font-size: 0.875em;
    color: #79787f;
}

.p-gris-075 {
    font-size: 0.75em;
    color: #79787f;
}

.p-gris-070 {
    font-size: 0.70em;
    color: #79787f;
}

.p-footer {
    margin-top: 10px;
}

.texto-naranja {
    color: #f75506;
}

#precios span,
#each-new span,
#rec-post span {
    color: #ff6a21;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #1E1D24;
    padding: 1.063em 0;

}


header h1 {
    width: 15%;
    display: flex;
}

.header {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header nav {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: right;
    justify-content: flex-end;

}

.header span {
    font-size: 0.75em;
    margin-left: 0.375em;
    padding-top: 0.5em;
    font-weight: 600;

}

h1 span {
    display: inline;
    color: white;
}

nav li {
    display: inline;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.75em;
    margin: 0.5em;

}

.hover-naranja:hover {
    color: #f75506;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1E1D24;
}

.dropdown-content li {
    display: block;
    text-align: center;
    margin: 3em;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
}

/* Mostrar la lista desplegable cuando se pasa el cursor sobre el elemento padre */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
}

.dropdown-content li:hover a{
    color: #f75506;
}

#barba {
    display: flex;
    background-image: url("https://livedemo00.template-help.com/wt_prod-25861/images/bg-image-1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    width: 30%;
    margin-right: 0.375em;
}

#titulo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 2em;
    width: 70%;
    margin-right: 2em;
    justify-content: right;
    align-items: center;
    margin-bottom: 4em;
}


#titulo h1 {
    font-size: 3em;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    line-height: 1em;
    margin: 0.375em;
}

#titulo p {
    width: 80%;
    font-size: 0.9em;
    font-weight: 300;
    text-align: center;
    justify-content: center;
}

#titulo a {
    margin-top: 3em;
    padding: 1em 3em;
    font-size: 0.60em;
    justify-content: center;
    text-align: center;
}

#banner-taza {
    display: flex;
    background-image: url("https://livedemo00.template-help.com/wt_prod-25861/images/bg-image-3.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh;
}

#title {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.breadcrumb {
    display: flex;
    margin-top: 10px;
}

.breadcrumb li {
    margin: 0 7px;
    /* Espaciado entre elementos en las migas de pan */
}

.breadcrumb a {
    color: #f75506;
    transition: color 0.3s;
}

.breadcrumb a:hover {
    color: #fff;
}

.fa-solid {
    color:#79787f;
}

#title h2 {
    font-size: 3.75em;
    color: #ffffff;
    font-weight: 600;
    width: 100%;
    text-align: center;

}

#title ul {
    justify-content: center;
    width: 100%;
    color: white;
}

footer {
    background-color: #121212;
    display: flex;
    justify-content: center;

}

#footer {
    display: flex;
    width: 70%;
    padding-top: 50px;
    justify-content: space-between;
}

footer section {
    width: 23%;
}

.speakerF {
    width: 50%;
    margin: 0;
}

.section-galeria {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.section-galeria div {
    width: 67%;
}

.texto-gris-footer {
    text-align: left;
    padding: 10px 0px;
}

#galeria-fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#galeria-fotos a {
    width: 32.5%;
    margin-bottom: 5px;
}

.imagen01 {
    width: 30%;
}

.footer-services h4 {
    margin-bottom: 10px;
}

.footer-services p {
    margin-bottom: 5px;
}

.section-about {
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

.div-about {
    width: 70%;
    margin: 15px;
    justify-content: center;

}


.div-about h2 {
    width: 100%;
}

#about-us {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;

}

#about-img {
    display: flex;
    width: 60%;
    flex-direction: column;
}

#about-img img {
    margin-top: 1em;
    width: 100%;
}

#about-img p {
    display: flex;
    margin: 1em 0;
}

.about-icono {
    font-size: 2.2em;
    color: #f75506;
    margin: 10px;

}

.icono-blanco {
    display: flex;
    font-size: 2.5em;
    color: #ffffff;
    margin: 10px;
    padding: 0.7em;
    border: 2px solid #ffffff;
    border-radius: 50%;
    align-items: center;

}


#chanchito {
    font-size: 3em;
}

#botones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 2em;
}

#botones article {
    width: 45%;
    flex-direction: column;
    border: 1px solid #efefef;
    padding: 1em 0.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;

}

#botones article a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botones article p {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
}


#numeros {
    height: 45vh;
    display: flex;
    justify-content: center;
}


#div-numeros {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

#div-numeros div{
    display: flex;
    justify-content: center;

}

#div-numeros div a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    cursor: default;
} 

#div-numeros div p{
    display: flex;
}  

#casa{
    font-size: 3em;
    padding: 0.5em;
}


.numeros-numeros{
    font-weight: 500;
}

#speaker-pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

#speaker-titulo, #speakers-titulo {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#speaker-titulo h2, #speaker-titulo p, 
#speakers-titulo h2, #speakers-titulo p{
    margin-bottom: 24px;
}


.symposiums,
.power {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 65px 0 55px;
}

.power {
    flex-direction: column;
    align-items: center;
}

.symposiums-content {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    text-align: left;

}

.power-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    text-align: left;
    margin-left: 30px;
}

.symposiums-content h2,
.symposiums-content img {
    margin-bottom: 25px;
}

.symposiums-content p,
.symposiums-content td {
    margin: 15px 0;
}

.symposiums-content h5 {
    font-weight: 400;
}

.symposiums-content td {
    padding: 12px;
}

.symposiums-content table {
    margin: 15px 0;
}

.back-gris {
    background-color: #efefef;
}

.lista-single, .lista-blog_post, .lista-footer{
    display: flex;
    flex-direction: column; 
    align-items: left;
}

.lista-single li iconify-icon{
    margin-right: 5px;
}

.parrafo-power {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
}

#fecha {
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 50%;
    align-items: center;
}

#fecha:hover  {
    background-color: #f75506;

}

#fecha:hover h3, #fecha:hover p{
    color: #ffffff;
}

#titulo-fecha {
    display: flex;
    width: 50%;
}

#titulo-power {
    display: block;
    margin-left: 15px;
}

#fecha h3 {
    font-size: 1.8em;
}

.parrafo-power a {
    margin: 15px;
}

#imagen-grande-power {
    margin-top: 15px;
}

.boton-post {
    display: flex;
    justify-content: space-between;
}

#form-power {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: space-between;
}

#form-power input {
    display: flex;
    width: 32%;

}

#form-power textarea {
    width: 100%;
    height: 180px;
    margin-top: 15px;
    margin-bottom: 30px;

}


.section-what {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.div-what {
    width: 70%;
    margin: 15px;
    text-align: center;
}

.what-we-do {
    margin-bottom: 50px;
}

#cuadrados {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.box {
    text-align: left;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
}

.box img {
    max-width: 100%;
    height: auto;
}

.box h6,
.box p {
    margin-bottom: 10px;
    /* Espaciado entre titulos y descripciones */
}

.button {
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #f75506;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    /* Transición para cambios de color */
}

.button:hover {
    background-color: #000;
}

.shadow:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


#section-testimonials {
    display: flex;
    flex-direction: column;
    background-image: url("https://livedemo00.template-help.com/wt_prod-25861/images/bg-parallax-1.jpg");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 110px 0;
}


#section-testimonials h2 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    align-items: center;
}

#each-testimony {
    display: flex;
    justify-content: center;
}

#each-testimony article {
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    max-width: 384px;
    margin: 0 16px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffffff;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.quote-icon {
    max-width: 50px;
    margin-bottom: 10px;
}

.author-info {
    align-items: center;
    margin-top: 20px;
    display: flex;
}

.author-img {
    max-width: 78px;
    border-radius: 50%;
    margin-top: 20px;
}

.author-details {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}


#foto-blog {
    background-color: #ffffff;
    padding: 6em 0 5.313em;
}


.box img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

#precios{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    
}

#precios article{
    display: flex;
    width:20%;
    flex-direction: column;
    padding-top: 0.5em;
    padding-bottom: 2em;
    margin: 0 1em;
    border: 2px solid #efefef;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#precios p{
    font-size: 0.875em;
    font-weight: 600;
    padding: 0.5em;
    text-align: center;
}

#precios span{
    font-size: 30px;
    font-weight: 700;
}

#precios article .cero{
    font-size: 16px;
    padding-bottom: 3em;
}

#precios li{
    padding: 1em;
    border-top: 0.5px solid #efefef;

}

#precios ul{
    margin-bottom: 2em;
}

.ultimo{
    border-bottom: 0.5px solid #efefef;
}

#precios a{
   font-size: 0.65em;
   padding: 1em 3em; ;
}

#reloj{
    display: flex;
    width: 100%;
    align-items: right;
    text-align: center;
    justify-content: center;
}

#reloj-foto{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#fondo-reloj{
    position: relative;
    z-index: -1;
}

#foto-hombre{
    display: flex;
    height: 83vh;
    right: 10em;
    position: absolute;
    z-index: 0;
}

#div-reloj{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    position: absolute;
    padding-right: 20em;
    margin-top: 5em;
    height: 50vh;
}


#div-reloj h2{
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 0.3em;
}

#div-reloj p{
    font-size: 0.875em;
    line-height: 1.5;
}

#div-reloj h3{
    font-size: 5em;
    font-weight: 600;
}


#reloj-blanco{
    display: flex;
    text-align: center;
    margin-bottom: 1em;
}

#reloj-blanco div{
    margin: 0.8em;
}

#speakers{
    display: flex;
    flex-direction: column;
    margin: 3em 0;
    padding-bottom: 1em;
    align-items: center;
}

#each-speaker{
    display: flex;
    width:70%;
}

#each-speaker article{
    width: 24%;
    margin: 0 1em;
}

.speaker-texto, .news-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #efefef; 
}

.speaker-texto p, #each-new article p{
    margin-bottom: 1em;
}

.speaker-nombre{
    margin-top: 2em;
    font-weight: 600;
}

.speaker-icono{
    display: flex;
    color: #79787f;
}

.speaker-icono a{
    width: 10%;
    margin: 10px;
    justify-content: space-around;
}

#gallery{
    background-color: #121212;
    padding-top: 5em;
}


#galeria-titulo, #news-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


#galeria-titulo p, #news-titulo p{
    margin: 1em 0 3em;
}

#galeria-gap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

#news-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}

#each-new{
    display: flex;
    width: 70%;
    justify-content: center;
    padding-bottom: 2em;
    
}

#each-new article{
    display: flex;
    flex-direction: column;
    width: 28%;
    margin: 1em;
    text-align: left;
}

.news-article{
    text-align: left;
}

.news-article div{
    padding-bottom: 1em;
}